<%-include('sidebar')-%>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

<!-- <div class="text-center" style="margin-left: 30%;">
      <form method="POST" action="/addingClient">
        <img class="mb-4" src="https://images.unsplash.com/placeholder-avatars/extra-large.jpg?dpr=2&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff" alt="" width="72" height="72" style="border-radius: 50%;">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <p>You Name</p>
            <input type="text" class="form-control top" id="userName" placeholder="User Name" name="userName">
            <label for="userName">Your Name</label>
          </div>
    
        <div class="form-floating">
          <input type="Number" class="form-control middle" id="phoneNumber" placeholder="phoneNumber" name="phoneNumber">
          <label for="phoneNumber">Phone Number</label>
        </div>
    
        <div class="form-floating">
            <input type="email" class="form-control bottom" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
          </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted ">&copy; 2015–2023</p>
      </form>
  
    </div> -->


  


  <div class="py-5 text-center mx-5"  style="padding-right: 15%;">
    <!-- <img class="d-block mx-auto " src="https://images.unsplash.com/placeholder-avatars/extra-large.jpg?dpr=2&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff" width="72" height="72" style="border-radius: 50%;">
  -->
   
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">

    <div class="col-md-7 col-lg-8" >
      <h4 class="mb-3" style="text-align: center;" >Client Requirements <i class="ri-profile-fill"></i> </h4>
      <form class="needs-validation" method="post" action="/addingClient">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number" name= "phoneNumber" required>
            <div class="invalid-feedback">
              Please enter Mobile Number.
            </div>
          </div>
          
          <div class="col-sm-6">
            <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Prefered Location</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="preferedLocation" required>
            <div class="invalid-feedback">
              Please enter  address.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="maxBudget" class="form-label">Max-Budget</label>
            <input type="number" class="form-control" id="maxBudget" placeholder="Max-Budget" name="maxBudget" required>
            <div class="invalid-feedback">
              Please enter Client Budget.
            </div>
          </div>
          
          <div class="col-sm-6">
            <label for="clientType" class="form-label">Client Type</label>
            <select class="form-select" id="clientType" name="clientType" required>
              <option value="">Hot</option>
              <option>Cold</option>
              <option>Warm</option>
              <option>Hot</option>
            </select>

          </div>

          <div class="col-12">
            <label for="description" class="form-label">Any extra Information <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address" placeholder="Description..." name="description">
           
          </div>


        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">New Client</button>
      </form>
    </div>
  </div>

</div>
