<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/proper.css">
</head>
<body>

<%-include("topbar")-%> 

<div class="mtable map">
    <iframe src="https://www.google.com.qa/maps/d/u/1/embed?mid=1Qa55OcDQrXXucbFKwTfi0HLGH6tccKY&ehbc=2E312F"  height="530"></iframe>


</div>




</body>
</html>