<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/proper.css">
</head>
<body>
<%-include("sidebar")-%>

<!-- <a href="/addinventorytogether" style="height: 60px; width: 60px;  background-color: #0D6EFD; border-radius: 50%; margin-left: 90%; margin-top:35%; position: fixed; text-decoration: none; text-align: center;z-index:100"><i  style="color: white; font-size: 40px;"class="ri-add-fill"></i></a> -->

<div class="top-bar">
    <h1 class="prop-head">
        Properties 
        <span class="info">
           <a href="#"><i class="ri-information-fill"></i></a> 
        </span>
        <span class="star">
         <a href="#" onclick="fillStar()"><i class="ri-star-line"></i></a>   
        </span>
    </h1>

    <nav>
        <ul>
            <li><a href="/maintable">
                <span>
                    <i class="ri-home-7-line"></i>
                </span>
                Main Table</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/maps">Map</a></li>
        </ul>
    </nav>

    <div class="downbar">
        <button class="btn"><a href="/addinventorytogether"><i class="ri-add-line"></i>  New Property</a></button>

        <ul>
            <li> <a href="#"><i class="ri-search-line"></i>Search</a>   </li>
            <li> <a href="#"><i class="ri-user-6-fill"></i>Person</a> </li>
            <li> <a href="#"><i class="ri-filter-off-fill"></i>Filter</a></li>
            <li> <a href="#"><i class="ri-sort-asc"></i>Sort</a></li>
        </ul>
    </div>


</div>


<script>
let fillStar = ()=>{
        let star = document.querySelector('.star');
    let isfill = false;
    if(!isfill){
        star.innerHTML = '<span class="star"><a href="#"><i class="ri-star-fill"></i></a></span>'
        star.innerHTML.style.color = "#ffff00"
        isfill= true;
    }
    else{
        star.innerHTML = '<span class="star"><a href="#"><i class="ri-star-line"></i></a></span>'
        star.style.color = "yellow"
        isfill= false;
    }
}
</script>

</body>
</html>